<div class="lg:flex-row flex flex-col *:p-4">
  <div v-style="flat-style"
       v-theme="flat-blue"
       class="flex flex-col gap-6">
    <h2 class="mb-0 text-2xl font-semibold">v-button :not(.dark)</h2>
    <ng-container *ngTemplateOutlet="buttonShowcase" />
  </div>

  <div v-style="flat-style"
       v-theme="flat-blue"
       class="dark flex flex-col flex-1 gap-6">
    <h2 class="mb-0 text-2xl font-semibold">v-button .dark</h2>
    <ng-container *ngTemplateOutlet="buttonShowcase" />
  </div>
</div>

<ng-template #buttonShowcase>
  <section class="my-0">
    <h3 class="my-0 text-xl font-semibold">Style + Role</h3>
    <div class="grid gap-3"
         style="grid-template-columns: max-content repeat(5, max-content); align-items: center; justify-items: center;">
      <div></div>
      @for (role of buttonRoles; track role.label) {
        <div class="text-slate-500 text-sm font-semibold">{{ role.label }}</div>
      }

      @for (style of buttonStyles; track style.class) {
        <div class="text-slate-500 text-sm font-semibold">{{ style.label }}</div>
        @for (role of buttonRoles; track role.label) {
          <v-button [class]="style.class + ' ' + role.class">Button</v-button>
        }
      }
    </div>
  </section>

  <section class="mb-12">
    <h3 class="mb-6 text-xl font-semibold">Disabled States</h3>
    <div class="grid gap-3"
         style="grid-template-columns: max-content repeat(5, max-content); align-items: center; justify-items: center;">
      <div></div>
      @for (role of buttonRoles; track role.label) {
        <div class="text-slate-500 text-sm font-semibold">{{ role.label }}</div>
      }

      @for (style of buttonStyles; track style.class) {
        <div class="text-slate-500 text-sm font-semibold">{{ style.label }}</div>
        @for (role of buttonRoles; track role.label) {
          <v-button [class]="style.class + ' ' + role.class"
                    [config]="{
                      isDisabled: true,
                    }">
            Button
          </v-button>
        }
      }
    </div>
  </section>

  <section class="mb-12">
    <h3 class="mb-6 text-xl font-semibold">Icon Buttons</h3>
    <div class="flex flex-wrap gap-4">
      <v-button class="v-primary"
                [config]="{
                  isLabelHidden: true,
                  padding: 2,
                }">
        <v-icon v-prefix
                [name]="Icon.Mic" />
      </v-button>

      <v-button class="v-danger"
                [config]="{
                  isLabelHidden: true,
                  padding: 2,
                }">
        <v-icon v-prefix
                [name]="Icon.Close" />
      </v-button>

      <v-button class="v-accent"
                [config]="{
                  isLabelHidden: true,
                  padding: 2,
                }">
        <v-icon v-prefix
                [name]="Icon.Add" />
      </v-button>

      <v-button class="v-flat v-hover v-primary"
                [config]="{
                  isLabelHidden: true,
                  padding: 2,
                }">
        <v-icon v-prefix
                [name]="Icon.Settings" />
      </v-button>
    </div>
  </section>

  <section class="mb-12">
    <h3 class="mb-6 text-xl font-semibold">Buttons with Icons and Text</h3>
    <div class="flex flex-wrap gap-4">
      <v-button class="v-flat">
        <v-icon v-prefix
                [name]="Icon.Add" />
        Add Item
      </v-button>

      <v-button class="v-primary">
        Next
        <v-icon v-postfix
                [name]="Icon.KeyboardArrowRight" />
      </v-button>

      <v-button class="v-raised v-accent">
        <v-icon v-prefix
                [name]="Icon.Edit" />
        Edit
        <v-icon v-postfix
                [name]="Icon.Settings" />
      </v-button>

      <v-button class="v-link v-danger">
        Delete
        <v-icon v-postfix
                [name]="Icon.Delete" />
      </v-button>
    </div>
  </section>

  <section class="mb-12">
    <h3 class="mb-6 text-xl font-semibold">Custom Configuration</h3>
    <div class="flex flex-wrap gap-4">
      <v-button class="v-flat"
                [config]="{
                  isWithoutShadow: true,
                  bgOpacity: '0.5',
                  padding: 0,
                }">
        <v-icon [name]="Icon.Close"
                [size]="8" />
      </v-button>

      <v-button class="v-primary"
                [config]="{
                  borderRadius: 7,
                  padding: 3,
                }">
        Rounded Button
      </v-button>

      <v-button class="v-raised"
                [config]="{
                  width: '200px',
                }">
        Full Width
      </v-button>

      <v-button class="v-link v-link-static">
        No color change on link hover
      </v-button>
    </div>
  </section>
</ng-template>
