@if (isDesktop$$()) {
  <nav class="flex flex-col h-screen gap-2 pt-2 pb-2 pl-2 pr-2">

    <div class="flex flex-col gap-2">
      @for (button of uiShowcaseButtons$$(); track button.id) {
        <v-button-old [config]="{
                        buttonStyle: getButtonStyle(button),
                        width: '100%',
                        padding: 2,
                        textAlign: 'left',
                      }"
                      class="menu-item"
                      (click)="navigateToLink(button.id)">
          {{ button.id }}
        </v-button-old>
      }
    </div>

  </nav>
}
